:root {
    /* Colors */
    --primary-hsl: 226, 13%, 38%;
    --primary-dark: #444a5c;
    --primary-light: #89b0ae;
    --light: #bee3db;
    --success: #00c853;
    --warning: #df8950;
    --error: #ff5252;
    --gray: #555b6e;
    --white: #faf9f9;

    /* Spacing & Sizing */
    --border-radius: 8px;
    --min-touch-size: 40px;

    /* Typography */
    --heading-font: "Great Vibes", cursive;
    --body-font: "Verdana", sans-serif;
    --label-font: "Space Mono", monospace;
}
